// Colors
$C_BG: #fff;
$C_PLAN_BG: #f0f0f0;
$C_PLAN_BG_HOVER: #dcdcdc;
$C_DISABLED: #D0CFCE;
$C_INPUT_PLACEHOLDER: #818181;
$C_TEXT_SECONDARY: #232323;
$C_TEXT_PRIMARY: #000000;

$C_PAGE_BURGER: #FDD2C1;
$C_PRIMARY: #fcbaa2;
$C_MENU: #ffaf92;
$C_BUTTON: #ff895f;
$C_PRICE: #ff6c36;

$C_BLUE: #C9F1FD;
$C_SECONDARY: #a2e8fc;
$C_MODAL: #84e4ff;
$C_QUESTION: #56b5ff;
$C_CHANGE_HOVER: #2e9ff5;
$C_CHANGE_ACTIVE: #1e5a89;
$C_LOADER: #3064b8;

$C_SUCCESS: rgb(169, 255, 77);
$C_SAVE: #7AC943;
$C_SAVE_HOVER: #4e9b17;
$C_SAVE_ACTIVE: #214309;

$C_ERROR: rgb(254, 80, 80);
$C_DESCRIPTION: #E83838;
$C_ERROR_ACTIVE: rgb(101, 17, 17);

// Transition
$TRANSITION: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
$BS_MENU: 10px 10px 15px $C_TEXT_SECONDARY;
$BS_BURGER: 3px 3px 5px rgba($C_TEXT_SECONDARY, 0.25) ;
$BS_BUTTON: 5px 5px 10px rgba($C_TEXT_SECONDARY, 0.25);
$BS_MEMBER_CARD: 4px 4px 10px rgba($C_TEXT_SECONDARY, 0.5);
$BS_TESTIMONIALS: 10px 10px 30px rgba($C_TEXT_SECONDARY, 0.25);

// Media Queries: Breakpoints
$MOBILE: 375px;
$MOBILE_MEDIUM: 480px;
$TABLET: 768px;
$LAPTOP: 1024px;
$DESKTOP: 1280px;
$WIDESCREEN: 1440px;
$ULTRA: 1920px;
