@import "@styles/index.scss";

.sidebar {
  display: block;
  position: absolute;
  width: 308px;
  min-height: 100vh;
  background-color: $C_PAGE_BURGER;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 99;
  padding-bottom: 5px;

  @include custom(1200px) {
    width: 268px;
  }

  @include LAPTOP {
    display: none;
  }

  & .upperPart {
    background-color: $C_MENU;
    height: 55px;
    padding-left: 16px;
    padding-right: 8px;
    @include flex($justify: space-between);
  }

  & .closeButton {
    width: 40px;
    height: 40px;
    padding: 11px;
    background-color: $C_BG;
    border-radius: 50%;
    box-shadow: $BS_BURGER;
    transition: $TRANSITION;

    &:hover {
      background-color: $C_BUTTON;
    }
  }

  & .title {
    @include titleModal();
  }

  & .linkContainer {
    position: relative;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;

    @include custom(1200px) {
      height: 48px;
    }

    &:hover {
      .icon {
        transform: translateX(5px);
      }

      .link span {
        transform: translateX(5px);
      }
    }
  }

  .activeLink {
    & span {
      font-weight: $FW_BLACK;
      transform: translateX(5px);
    }

    & .icon {
      transform: translateX(5px);
    }
  }

  & .link {
    background-color: transparent;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    @include flex($justify: space-between);
    @include burgerLink();
    cursor: pointer;

    @include custom(1200px) {
      font-size: 18px;
    }

    & span {
      transition: $TRANSITION;
    }
  }

  & .divider {
    width: 100%;
    height: 3px;
    background-color: $C_PRIMARY;
    border-radius: 5px;
  }

  & .icon {
    width: 15px;
    height: 15px;
    fill: $C_TEXT_SECONDARY;
    transition: $TRANSITION;
  }

  & .phoneNumber {
    border-bottom: 2px solid $C_DESCRIPTION;
  }

  & .warning {
    position: relative;
    width: 156px;
  }

  & .warningText {
    @include warning();
  }

  & .highlighted {
    font-weight: $FW_BLACK;
  }
}
