@import "@styles/index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  @include alpha($C_PRIMARY, 0.6);
  padding-inline: 45px;

  @include LAPTOP {
    padding-inline: 30px;
  }

  @include TABLET {
    padding-inline: 20px;
  }

  @include MOBILE_MEDIUM {
    padding-inline: 14px;
  }
}

.container {
  max-width: 1440px;
  @include flex($justify: start);
  overflow: visible;

  @include TABLET {
    justify-content: space-between;
  }
}

.logo {
  width: 180px;
  height: 40px;

  @include TABLET {
    width: 130px;
    height: 34px;
  }
}

.breadcrumbLink {
  margin: 0 auto;
  transform: translateX(-25%);
  @include flex($gap: 18px);

  &:hover {
    .breadcrumb {
      font-weight: 900;
    }

    .breadcrumbArrow {
      transform: rotate(180deg) translateX(4px);
    }
  }

  @include TABLET {
    margin: 0;
    transform: translateX(0);
  }

  @include MOBILE_MEDIUM {
    gap: 10px;
  }
}

.breadcrumb {
  transition: $TRANSITION;
  @include burgerLink();

  @include TABLET {
    font-size: 18px;
  }

  @include MOBILE_MEDIUM {
    font-size: 16px;
  }
}

.breadcrumbArrow {
  width: 22px;
  height: 22px;
  transform: rotate(180deg);
  transition: $TRANSITION;

  @include MOBILE_MEDIUM {
    width: 16px;
    height: 16px;
  }
}
