@import "@styles/index.scss";

.editorContainer {
  @include flex($direction: column, $align: start, $gap: 10px);
  width: 100%;

  .tick {
    @include flex();
    width: 16px !important;
    height: 16px !important;
    vertical-align: middle;
    margin-bottom: 4px;

    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .tools {
    @include flex($gap: 5px);
  }

  .tool {
    border-radius: 6px;
    border: 1px solid $C_PRICE;
    outline: none;
    @include flex();
    min-width: 40px;
    height: 40px;
    background-color: $C_BG;
    padding: 6px;
    cursor: pointer;
    transition: $TRANSITION;

    &:hover {
      background-color: $C_PAGE_BURGER;
    }

    &:focus {
      transition: none;
      border-width: 2px;
      border-color: $C_PRICE;
    }

    &:active {
      transition: none;
      background-color: $C_BUTTON;
    }

    &.active {
      background-color: $C_PRICE;
    }

    @include MOBILE_MEDIUM {
      min-width: 30px;
      height: 34px;
    }
  }

  .bold {
    @include contactUsTitle();
  }

  .italic {
    @include accordionQuestion();
    font-style: italic;
  }

  .editorArea { 
    position: relative;
    border: 1px solid $C_PRICE;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 650px;
    min-height: 200px;

    @include MOBILE_MEDIUM {
      padding: 14px;
    }

    &:focus {
      border-width: 2px;
    }

    & .counter {
      position: absolute;
      bottom: -30px;
      right: 0;
      @include navigation();
    }
  }
}
